/* Navbar Container */
.navbar-container {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #fff; /* Light mode background */
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    opacity: 0.85;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color and text color */
    z-index: 1000;
}

/* Dark Mode - Apply dark background */
body.dark-mode .navbar-container {
    background-color: #333; /* Dark background for dark mode */
    color: #fff; /* Light text color in dark mode */
}

/* Navbar Item Styles */
.nav-items {
    display: flex;
    gap: 10px;
}

/* Navbar Item Styles - Light Mode */
.nav-item {
    color: #000;
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* Dark Mode - Nav Item Colors */
body.dark-mode .nav-item {
    color: #fff; /* Light color for nav items in dark mode */
}

.nav-item:hover {
    color: #4f48e4;
}

body.dark-mode .nav-item:hover {
    color: #2f6ef9;
}

/* Mobile Icon */
.mobile-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-items {
        display: none;
    }

    .mobile-icon {
        display: flex;
    }
}

/* Side Menu */
.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background: #fff; /* Light background for the side menu */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color */
    box-sizing: border-box;
    z-index: 1000;
    height: 100%;
}

/* Dark Mode - Side Menu */
body.dark-mode .side-menu {
    background-color: #333; /* Dark background for side menu */
    color: #fff; /* Light text color for side menu */
}

/* Side Menu Open */
.side-menu.open {
    transform: translateX(0);
}

/* Close Icon */
.close-icon {
    align-self: flex-end;
    cursor: pointer;
    font-size: 24px;
}

/* Light Mode - Close Icon color */
body:not(.dark-mode) .close-icon {
    color: #000; /* Dark color for close icon in light mode */
}

/* Dark Mode - Close Icon color */
body.dark-mode .close-icon {
    color: #fff; /* Light color for close icon in dark mode */
}

/* Blur Background when menu is open */
.blur-background {
    filter: blur(5px); /* Adjust the pixel value as needed */
    pointer-events: none; /* Disables interaction with the blurred elements */
    user-select: none; /* Prevents text selection */
}

/* Content Container */
.content-container {
    padding-top: 60px;
}
