@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  /* Typewriter Animation */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Apply the typewriter animation to the hero section heading */
.hero-section .heading {
  font-size: 3rem;
  white-space: nowrap;
  overflow: hidden;
  width: 0; /* Start with width 0 to animate */
  border-right: 4px solid #2575fc; /* Create the cursor effect */
  animation: typewriter 3s steps(30) 1s 1 normal both, blink 0.7s step-end infinite;
}

  
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #333;
    min-height: 100vh;
  }
  
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 74vh;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white;
    text-align: center;
    width: 100%;
    animation: fadeIn 1.5s ease-out;
  }
  
  .heading,
  .sub-heading,
  .intro-section,
  .card {
    animation: fadeIn 2s ease-out;
  }
  
  .heading {
    font-size: 3rem;
    /* animation-delay: 0.5s; */
  }
  
  .sub-heading {
    font-weight: 400;
    font-size: 1.8rem;
    /* animation-delay: 1s; */
  }
  
  .intro-section {
    margin-top: -50px;
    background: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
    /* animation-delay: 1.5s; */
  }

  .intro-section p {
    margin-bottom: 30px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #2575fc;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    outline: none;
    transform: scale(1);
  }
  
  .button:hover {
    background-image: linear-gradient(to right, #6a11cb, #2575fc);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  .skill-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px;
    align-items: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .card {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, transform;
    /* background: #f9f9f9; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin: 20px auto;
    padding: 20px;
    /* border-radius: 8px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .card-img {
    width: 100%
  }
  
  .card.in-view {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card:nth-child(1) {
    animation-delay: 1.5s;
  }
  
  .card:nth-child(2) {
    animation-delay: 2s;
  }
  
  .card:nth-child(3) {
    animation-delay: 2.5s;
  }
  
  .card h2 {
    color: #333;
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
  }
  
  .education-section,
  .experience-section,
  .project-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .education-section img,
  .experience-section img,
  .project-section img {
    width: 200px;
    height: auto;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .education-section img:hover,
  .experience-section img:hover,
  .project-section img:hover {
    transform: scale(1.1);
  }
  
  .card p {
    color: #666;
    font-size: 16px;
    flex: 1;
  }
  
  .timeline-container {
    position: relative;
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .timeline-blocks {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .timeline-block {
    position: relative;
    text-align: center;
    width: 300px;
  }
  
  .timeline-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .timeline-dot {
    width: 15px;
    height: 15px;
    background-color: #2575fc;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .timeline-line {
    position: absolute;
    height: 2px;
    background-color: #ccc;
    width: 100%;
    top: 100%;
  }
  
  .dates {
    position: absolute;
    width: 100%;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    margin-top: 5px;
  }
  
  @media (max-width: 768px) {
    .intro-section {
      margin-top: -150px;
    }
  
    .heading {
      font-size: xx-large;
    }
  
    .sub-heading {
      font-size: large;
    }
  
    .card-container {
      flex-wrap: wrap;
    }
  
    .card {
      width: 100%;
    }
  
    .card h2 {
      place-self: center;
    }
  
    .education-section,
    .experience-section,
    .project-section {
      flex-direction: column;
    }
  
    .timeline-container {
      flex-direction: column;
      align-items: center;
    }
  
    .timeline-blocks {
      flex-direction: column;
    }
  
    .timeline-block {
      width: 90%;
    }
  
    .timeline-line {
      display: none;
    }
  }
  
  .skill-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    will-change: opacity, transform;
  }
  
  .skill-cloud.in-view {
    opacity: 1;
    transform: translateY(0);
  }
  
  
  .skill {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f4f4f4;
    transition: transform 0.3s ease;
  }
  
  .skill:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .large {
    font-size: 24px;
    background-color: #2575fc;
    color: white;
  }
  
  .medium {
    font-size: 18px;
    background-color: #999;
    color: white;
  }
  
  .small {
    font-size: 14px;
    color: #333;
  }
  
  
  body.dark-mode .intro-section {
    background-color: #333;
    color: #fff;
  }
  
  body.dark-mode .small {
    background-color: black;
    color: #fff;
  }
  
  body.dark-mode .card {
    /* background-color: #333;  */
    color: #fff;
  }
  
  body.dark-mode .card h2 {
    color: #fff;
  }
  
  body.dark-mode .card p {
    color: #fff;
  }
  
  
  
  
  